*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* navbar */
#navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
#logo img {
    height: 80px;
    width: 100px;
}
#navbar ul li a {
    font-size: 1.4rem;
}



/* home */
#home{
    /* text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    padding-top: 100px;
    width: 100vmax;

    /* height: 100%; */
    
}

#home h1{
    font-size: 3rem;
}
#home button{
    width: 50% !important;
}
#home p{
    font-size: 25px;
    padding: 0px 110px;
}
.btn {
    font-size: 26px;
}




/* services */
#services-container{
    width: 100vmax;

   
}

/* clients */
#client-section{
    width: 100vmax;


}
#client{
    display: flex;
}
.client-item{
    margin: 50px 10px;
}

#clients img{
    height: 140px;
    background: white;
    padding: 20px 20px;
}

/* contact */
#contact{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vmax;

    margin: 50px 0px ;

}
#contact .h-primary{
    text-align: center;
}
#contact-box form{
    width: 95%;
}

/* footer */
footer{
    width: 100vmax;

}

/* utility classes */
